* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #c4c4c4;
}
.header {
  width: 100%;
  background: #d9d9d9;
}
.union {
  width: 50%;
  fill: #d29f7a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;
}
.content {
  color: #fff9f9;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.h1 {
  color: #000;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.blok {
  width: 70%;
  height: 534px;
  background-image: url(https://alterainvest.ru/upload/iblock/3a8/3a8907d9c8ab76a487e35e158f01a6de.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

button {
  display: flex;
  height: 38.051px;
  padding: 12.231px 21.744px;
  justify-content: center;
  align-items: center;
  gap: 21.744px;
  border-radius: 13.59px;
  background: #d9d9d9;
  box-shadow: 0px 2.718px 5.436px 0px rgba(0, 0, 0, 0.25);
  color: #363636;
  font-family: Raleway;
  font-size: 16.308px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.food__container {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-evenly;
}
.title {
  text-align: center;
  padding: 50px 0;
}
.blok-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.ingredient {
  color: #000;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.ingrediente {
  display: flex;
  width: 178.449px;
  height: 212.949px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 178.449px;
  height: 212.949px;
  flex-shrink: 0;
  border-radius: 16.266px;
  background: #fffcfc;
}
.ingredienn__img {
  box-sizing: border-box;
  width: 90%;
  height: 60%;
  flex-shrink: 0;
  background: #797979;
}
p {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 15.466px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.block-5 {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.Instructions {
  color: #000;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}
.text {
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.footer {
  display: flex;
  width: 100%;
  background: #d9d9d9;
  justify-content: center;
}
.kartina {
  width: 23%;
  fill: #d29f7a;
  display: flex;
  justify-content: space-between;
}
.wrap {
  color: #fff9f9;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.ikonki {
  width: 15%;

}

.container__footer {
  padding: 30px 0 ;
  width: 70%;
  display: flex;
  background: #d9d9d9;
  align-items: center;
  justify-content: space-between;
}
